In [1]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
import math
import scipy.stats as st

In [3]:
df=pd.read_csv("movies_metadata.csv",low_memory=False)
df.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [5]:
df=df[["title","vote_average","vote_count"]]
df.head()

                         title  vote_average  vote_count
0                    Toy Story           7.7      5415.0
1                      Jumanji           6.9      2413.0
2             Grumpier Old Men           6.5        92.0
3            Waiting to Exhale           6.1        34.0
4  Father of the Bride Part II           5.7       173.0

In [6]:
df[df["vote_count"]>900].sort_values("vote_average",ascending=False)

                                  title  vote_average  vote_count
40251                        Your Name.           8.5      1030.0
834                       The Godfather           8.5      6024.0
314            The Shawshank Redemption           8.5      8358.0
1152    One Flew Over the Cuckoo's Nest           8.3      3001.0
1178             The Godfather: Part II           8.3      3418.0
...                                 ...           ...         ...
18609  Ghost Rider: Spirit of Vengeance           4.7      1163.0
15422                The Last Airbender           4.7      1180.0
26563                    Fantastic Four           4.4      2322.0
1491                     Batman & Robin           4.2      1447.0
28207                 The Boy Next Door           4.1      1034.0

[1240 rows x 3 columns]

In [8]:
df["vote_count_score"]=MinMaxScaler(feature_range=(1,10)).fit(df[["vote_count"]]).transform(df[["vote_count"]])
df.sort_values("vote_count_score",ascending=False).head(18)

C:\Users\cafer\AppData\Local\Temp\ipykernel_10544\2710105434.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["vote_count_score"]=MinMaxScaler(feature_range=(1,10)).fit(df[["vote_count"]]).transform(df[["vote_count"]])

,title,vote_average,vote_count,vote_count_score
15480,Inception,8.1,14075.0,10.000000
12481,The Dark Knight,8.3,12269.0,8.845187
14551,Avatar,7.2,12114.0,8.746075
17818,The Avengers,7.4,12000.0,8.673179
26564,Deadpool,7.4,11444.0,8.317655
22879,Interstellar,8.1,11187.0,8.153321
20051,Django Unchained,7.8,10297.0,7.584227
23753,Guardians of the Galaxy,7.9,10014.0,7.403268
2843,Fight Club,8.3,9678.0,7.188419
18244,The Hunger Games,6.9,9634.0,7.160284
26553,Mad Max: Fury Road,7.3,9629.0,7.157087
18252,The Dark Knight Rises,7.6,9263.0,6.923055
2458,The Matrix,7.9,9079.0,6.805400
12588,Iron Man,7.4,8951.0,6.723552
20830,Iron Man 3,6.8,8951.0,6.723552
4863,The Lord of the Rings: The Fellowship of the Ring,8.0,8892.0,6.685826
25084,Jurassic World,6.5,8842.0,6.653854
292,Pulp Fiction,8.3,8670.0,6.543872

In [9]:
df["average_count_score"]=df["vote_count_score"]*df["vote_count"]
df.sort_values("average_count_score",ascending=False).head(18)

C:\Users\cafer\AppData\Local\Temp\ipykernel_10544\2845821296.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["average_count_score"]=df["vote_count_score"]*df["vote_count"]

,title,vote_average,vote_count,vote_count_score,average_count_score
15480,Inception,8.1,14075.0,10.000000,140750.000000
12481,The Dark Knight,8.3,12269.0,8.845187,108521.593179
14551,Avatar,7.2,12114.0,8.746075,105949.947709
17818,The Avengers,7.4,12000.0,8.673179,104078.152753
26564,Deadpool,7.4,11444.0,8.317655,95187.248597
22879,Interstellar,8.1,11187.0,8.153321,91211.207531
20051,Django Unchained,7.8,10297.0,7.584227,78094.789059
23753,Guardians of the Galaxy,7.9,10014.0,7.403268,74136.327815
2843,Fight Club,8.3,9678.0,7.188419,69569.520853
18244,The Hunger Games,6.9,9634.0,7.160284,68982.177904
26553,Mad Max: Fury Road,7.3,9629.0,7.157087,68915.591048
18252,The Dark Knight Rises,7.6,9263.0,6.923055,64128.259041
2458,The Matrix,7.9,9079.0,6.805400,61786.223375
12588,Iron Man,7.4,8951.0,6.723552,60182.517513
20830,Iron Man 3,6.8,8951.0,6.723552,60182.517513
4863,The Lord of the Rings: The Fellowship of the Ring,8.0,8892.0,6.685826,59450.364192
25084,Jurassic World,6.5,8842.0,6.653854,58833.380178
292,Pulp Fiction,8.3,8670.0,6.543872,56735.371226

In [12]:
#IMDB AÄŸÄ±rlÄ±klÄ± Derecelendirme ( IMDB Weighted Rating )
M=2500
C=df["vote_average"].mean()

def weighted_rating(r,v,m,c):
    return (v/(v+m)*r)+(m/(m+v)*c)
df["weighted_rating"]=weighted_rating(df["vote_average"],df["vote_count"],M,C)
df.sort_values("weighted_rating",ascending=False).head()

C:\Users\cafer\AppData\Local\Temp\ipykernel_10544\3211959005.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["weighted_rating"]=weighted_rating(df["vote_average"],df["vote_count"],M,C)

,title,vote_average,vote_count,vote_count_score,average_count_score,weighted_rating
12481,The Dark Knight,8.3,12269.0,8.845187,108521.593179,7.846044
314,The Shawshank Redemption,8.5,8358.0,6.344369,53026.239858,7.836482
2843,Fight Club,8.3,9678.0,7.188419,69569.520853,7.749460
15480,Inception,8.1,14075.0,10.000000,140750.000000,7.725672
292,Pulp Fiction,8.3,8670.0,6.543872,56735.371226,7.699778

In [13]:
#Bayes Ortalama Derecelendirme PuanÄ± ( BAR Score )
def bayesian_average_rating(n, confidence=0.95):
    if sum(n) == 0:
        return 0
    K = len(n)
    z = st.norm.ppf(1 - (1 - confidence) / 2)
    N = sum(n)
    first_part = 0.0
    second_part = 0.0
    for k, n_k in enumerate(n):
        first_part += (k + 1) * (n[k] + 1) / (N + K)
        second_part += (k + 1) * (k + 1) * (n[k] + 1) / (N + K)
    score = first_part - z * math.sqrt((second_part - first_part * first_part) / (N + K + 1))
    return score

In [14]:
df = pd.read_csv("datasets/imdb_ratings.csv")
df = df.iloc[0:, 1:]


df["bar_score"] = df.apply(lambda x: bayesian_average_rating(x[["one", "two", "three", "four", "five",
                                                                "six", "seven", "eight", "nine", "ten"]]), axis=1)
df.sort_values("bar_score", ascending=False).head(20)

FileNotFoundError: [Errno 2] No such file or directory: 'datasets/imdb_ratings.csv'