In [1]:
import numpy as np
import pandas as pd
import math
import scipy.stats as st
from sklearn.preprocessing import MinMaxScaler

In [2]:
df=pd.read_csv("course_reviews.csv")
df.head()

,Rating,Timestamp,Enrolled,Progress,Questions Asked,Questions Answered
0,5.0,2021-02-05 07:45:55,2021-01-25 15:12:08,5.0,0.0,0.0
1,5.0,2021-02-04 21:05:32,2021-02-04 20:43:40,1.0,0.0,0.0
2,4.5,2021-02-04 20:34:03,2019-07-04 23:23:27,1.0,0.0,0.0
3,5.0,2021-02-04 16:56:28,2021-02-04 14:41:29,10.0,0.0,0.0
4,4.0,2021-02-04 15:00:24,2020-10-13 03:10:07,10.0,0.0,0.0

In [3]:
df["Rating"].value_counts()

5.0    3267
4.5     475
4.0     383
3.5      96
3.0      62
1.0      15
2.0      12
2.5      11
1.5       2
Name: Rating, dtype: int64

In [4]:
df.groupby(["Questions Asked"]).agg({"Rating":"mean"})

                   Rating
Questions Asked
0.0              4.765193
1.0              4.740942
2.0              4.806250
3.0              4.744186
4.0              4.833333
5.0              4.653846
6.0              5.000000
7.0              4.750000
8.0              4.900000
9.0              5.000000
10.0             5.000000
11.0             5.000000
12.0             5.000000
14.0             4.500000
15.0             3.000000
22.0             5.000000

In [5]:
df.groupby(["Progress"]).agg({"Rating":"mean"})

            Rating
Progress
0.0       4.673913
1.0       4.642691
2.0       4.654762
3.0       4.663551
4.0       4.777328
...            ...
94.0      5.000000
95.0      4.794118
97.0      5.000000
98.0      5.000000
100.0     4.866319

[91 rows x 1 columns]

In [7]:
df.dtypes

Rating                float64
Timestamp              object
Enrolled               object
Progress              float64
Questions Asked       float64
Questions Answered    float64
dtype: object

In [8]:
df["Timestamp"]=pd.to_datetime(df["Timestamp"])
df.dtypes

Rating                       float64
Timestamp             datetime64[ns]
Enrolled                      object
Progress                     float64
Questions Asked              float64
Questions Answered           float64
dtype: object

In [9]:
current_date=pd.to_datetime("2021-02-10 0:0:0")

In [14]:
df["days"]=(current_date - df["Timestamp"]).dt.days
df

,Rating,Timestamp,Enrolled,Progress,Questions Asked,Questions Answered,days
0,5.0,2021-02-05 07:45:55,2021-01-25 15:12:08,5.0,0.0,0.0,4
1,5.0,2021-02-04 21:05:32,2021-02-04 20:43:40,1.0,0.0,0.0,5
2,4.5,2021-02-04 20:34:03,2019-07-04 23:23:27,1.0,0.0,0.0,5
3,5.0,2021-02-04 16:56:28,2021-02-04 14:41:29,10.0,0.0,0.0,5
4,4.0,2021-02-04 15:00:24,2020-10-13 03:10:07,10.0,0.0,0.0,5
...,...,...,...,...,...,...,...
4318,5.0,2019-05-17 09:51:44,2019-05-17 09:08:53,34.0,1.0,0.0,634
4319,5.0,2019-05-16 21:27:05,2019-05-16 20:32:15,5.0,0.0,0.0,635
4320,5.0,2019-05-16 20:22:26,2019-05-16 20:21:19,1.0,0.0,0.0,635
4321,5.0,2019-05-16 19:49:07,2019-05-16 19:47:29,1.0,0.0,0.0,635
4322,5.0,2019-05-16 13:40:35,2019-05-15 14:10:24,56.0,0.0,0.0,635

In [16]:
df[df["days"]<30]["Rating"].mean()

4.7734375

In [17]:
df[df["days"]<30]["Rating"].count()

192

In [21]:
#En son yorum  yapan kullanıcılar için daha fazla ağırlık kullandık
ort=df[df["days"]<30]["Rating"].mean()*35/100+df[(df["days"]>30) & (df["days"]<90)]["Rating"].mean()*30/100+df[(df["days"]>90) & (df["days"]<180)]["Rating"].mean()*20/100+df[df["days"]>180]["Rating"].mean()*15/100
ort

4.764399031312519

In [22]:
#Kursu yüzde olarak daha fazla izleyen kişilerin yorumlarının ağırlıklarını artırdık
ort=df[df["Progress"]<30]["Rating"].mean()*20/100+df[(df["Progress"]>30) & (df["Progress"]<60)]["Rating"].mean()*25/100+df[(df["Progress"]>60) & (df["Progress"]<90)]["Rating"].mean()*25/100+df[df["Progress"]<90]["Rating"].mean()*30/100
ort

4.7866321205619915